<main class="main">
  <!--  un cuadrado grande -->
  <div class="main__container one">
    <p class="main__container__text ">Uno</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container two">
    <p class="main__container__text">Dos</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container three">
    <p class="main__container__text">Tres</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container four">
    <p class="main__container__text">Cuatro</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container five">
    <p class="main__container__text">Cinco</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container six">
    <p class="main__container__text">Seis</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container seven">
    <p class="main__container__text">Siete</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="div">
    <div class="main__container eight">
      <p class="main__container__text">ocho</p>
      <div class="main__container__box">
        <p class="main__container__box__plus">+</p>
      </div>
    </div>

    <div class="main__container nine">
      <p class="main__container__text">Nueve</p>
      <div class="main__container__box">
        <p class="main__container__box__plus">+</p>
      </div>
    </div>
  </div>
</main>
