<main class="main">
  <!--  un cuadrado grande -->
  <div class="main__container one">
    <p class="main__container__text ">Asociados clave</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container two">
    <p class="main__container__text">Actividades claves</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container three">
    <p class="main__container__text">Propuesta de valor</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container four">
    <p class="main__container__text">Relación con los clientes</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container five">
    <p class="main__container__text">Segmento de clientes</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container six">
    <p class="main__container__text">Recursos claves</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="main__container seven">
    <p class="main__container__text">Canales</p>
    <div class="main__container__box">
      <p class="main__container__box__plus">+</p>
    </div>
  </div>

  <div class="div">
    <div class="main__container eight">
      <p class="main__container__text">Estructura de costes</p>
      <div class="main__container__box">
        <p class="main__container__box__plus">+</p>
      </div>
    </div>

    <div class="main__container nine">
      <p class="main__container__text">Vías de ingreso</p>
      <div class="main__container__box">
        <p class="main__container__box__plus">+</p>
      </div>
    </div>
  </div>
</main>
