.main {
  background: #ffffff;
  height: 630px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8.5rem;

  &__container {
    /* border: 2px solid #f6f9fe; */
    border: 2px solid orange;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 19.6%;

    &__text {
      text-transform: uppercase;
      font-size: 1.1rem;
      padding-left: 1rem;
      color: #727272;
    }
    &__box {
      border: 0.1rem solid #727272;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      &:hover {
        color: black;
        cursor: pointer;
      }

      &__plus {
        font-size: 1.1rem;
        color: #727272;

        &:hover {
          color: black;
        }
      }
    }
  }
  .one,
  .three,
  .five {
    height: 46.1rem;
  }

  .two,
  .four {
    height: 23rem;
  }

  .six {
    transform: translate(-10.2rem, -23.1rem);
    height: 22.7rem;
  }
}

.seven {
  transform: translate(10.2rem, -23.1rem);
  height: 22.7rem;
}

.div {
  /* border: 2px solid #f6f9fe; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  transform: translateY(-23.4rem);
}

.eight {
  width: 50%;
  height: 17.4rem;
  border: 2px solid orange;
}

.nine {
  width: 50%;
  height: 17.4rem;
  border: 2px solid orange;
}
